/* estilos del Header */

.Body{
    margin: 2em;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-ul{
    display: flex;

}

.Header-li{
    list-style: none;
}

.Header-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-inline: 1em;
}

.Header-link:hover{
    text-decoration: underline;
}

/* estilos del Main */

.Main{
    margin-top: 3em;
}

.Main-text{
    margin-right: 30%;
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    color: black;
}

.Main-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 4em;
    justify-content: flex-start;

}

.Main-galleryImage{
    width: 18rem;
}

.Main-more{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    font-size: small;

}

.Main-moreText{
    text-decoration: none;
    color: black;
}

.Main-moreText--girar{
    rotate: -45deg;
    margin-right: .05em;
}

/* estilos del Footer */

.Footer{
    margin-top: 8em;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    align-items: center;
    margin-bottom: 5em;
}

.Footer-ul{
    display: flex;
    list-style: none;
}
.Footer-link{
    text-decoration: none;
    color: black;
    font-size: small;
    margin-inline: 1em;
}


